html {
    background-color: rgb(219, 215, 198);
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: url("images/Arrow.cur"),pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

canvas{
    top: 0;
    left: 0;
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
	/* background: #000; */
}

.button-class {
    width: 32px;
    height: 32px;
    border-style: none;
    border-radius: 50%;
    outline: none;
    cursor: url("images/Hand.cur"),pointer;
    box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 2px 2px;
    -webkit-transition-duration: 0.1s;
}

.button-class:hover {
    box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 4px 4px;
}

.button-class:active {
    transform: scale(0.9);
}

.square-button-class {
    max-width: 150px;
    max-height: 50px;
    border-style: none;
    border-radius: 10px;
    outline: none;
    cursor: url("images/Hand.cur"),pointer;
    box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 2px 2px;
    -webkit-transition-duration: 0.1s;
}

.square-button-class:hover {
    box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 4px 4px;
}

.square-button-class:active {
    transform: scale(0.9);
}

.close {
    background: url("images/close.png") no-repeat;
}

#config {
    position: absolute;
    right: 3%;
    background: url("images/Control\ Center.png") no-repeat;
}

#search {
    display: inline;
    float: right;
    margin: 7px;
    background: url("images/Magnifier.png") no-repeat;
}

#search-engine {
    display: inline;
    float: left;
    margin: 7px;
    background: url("https://www.baidu.com/favicon.ico") no-repeat;
    background-size: cover;
}

.center-panel {
    margin: 2vh auto;
    width: 70vw;
    min-width: 800px;
    max-width: 1100px;
    max-height: 88vh;
    background: rgba(190, 164, 164, 0.2);
    padding: 15px;
    border-radius: 7px;
    text-align: center;
    align-items: center;
    box-shadow: rgba(66, 66, 66, 0.3) 1px 1px 4px 4px;
    -webkit-transition-duration: 0.2s;

    overflow-y: auto;
    overflow-x: hidden;
}

.center-panel:hover {
    background: rgba(133, 113, 113, 0.1);
    box-shadow: rgba(66, 66, 66, 0.5) 1px 1px 8px 8px;
}

.content-panel {
    height: fit-content;
}

.Nav-head {
    padding: 15px;
    font-size: 30px;
    color: rgba(255, 253, 205, 0.979);
}

.search-panel {
    color: white;
    margin: 0 auto;
    width: 85%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition-duration: 0.2s;
}

.search-panel:hover {
    background-color: rgba(143, 143, 143, 0.05);
    box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 4px 4px;
}

.input-search {
    color: white;
    display: inline;
    text-align: center;
    margin: 5px;
    height: 28px;
    width: 80%;
    border-style: solid;
    border-color: rgba(255, 166, 0, 0.7);
    border-width: 3px;
    border-radius: 3px;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: url("images/IBeam.cur"),text;
}

.calendar {
    font-size: 18px;
    min-height: 300px;
    max-height: 350px;
    width: 30%;
    margin-right: 7px;
    padding: 5px;
    background-color: rgba(110, 110, 110, 0.8);
    border-radius: 10px;
    box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 2px 2px;
    -webkit-transition-duration: 0.2s;
}

.calendar:hover {
    background-color: rgba(110, 110, 110, 1);
    box-shadow: rgba(66, 66, 66, 0.5) 0px 0px 4px 4px;
}

/* Calender 内部数据美化 */
#clock {
    font-weight: 900;
    font-size: 25px;
}

.inline-panel {
    margin:  10px auto;
    display: flex;
    justify-content: center;
}



.search-history-panel:hover {
    background-color: rgba(110, 110, 110, 1);
    box-shadow: rgba(66, 66, 66, 0.5) 0px 0px 4px 4px;
}

.favo-websites {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    word-wrap:break-word; 
    word-break:break-all; 
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 3px 3px inset;
}

.hot-websites {
    margin: 5px auto;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 88%;
    width:97%;
    box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 3px 3px inset;
    overflow-x: hidden;
    overflow-y: auto;
}

.hot-item {
    text-align: left;
    font-size: 14px;
    padding: 5px;
    margin: 0;
    width: 99%;
    overflow: hidden;
    background-color: rgba(136, 136, 136, 0.2);
    box-shadow: rgba(66, 66, 66, 0.3) 1px 1px 1px 1px;
    cursor: url("images/Hand.cur"),pointer;
    transition: 0.2s;
}

.hot-item:hover {
    background-color: rgba(196, 196, 196, 0.01);
    box-shadow: rgba(66, 66, 66, 0.3) 2px 2px 4px 4px;
}
.hot-item:active {
    box-shadow: rgba(66, 66, 66, 0.3) 1px 1px 1px 1px;
}

.hot-title {
    text-decoration: none;
    cursor: url("images/Hand.cur"),pointer;
}

.website-icon {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: url("images/websites.png") no-repeat;
    background-size:cover;
    margin: 5px auto;
}

.website-a {
    margin:  0 auto;
    padding: 0;
    outline: none;
    font-size: 16px;
    text-decoration: none;
    cursor: url("images/Hand.cur"),pointer;
    text-align: center;
    align-content: center;
}

a {
    color: inherit;
}

.website:hover {
    box-shadow: inset 0px 0px 2px 2px  rgba(0,0,0,0.1);
    background-color: rgba(255, 200, 200, 0.3);
}

.website:active {
    box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.2);
}

.remove-website {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #e70c0c73;
    border-radius: 50%;
    transform: translate(0 , -30px) rotate(-45deg);
    text-align: left;
    color: #FFFFFF;
    right: -15px;
    top: 10px;
}

.remove-website:after{
    content: '+';
    color: #ffffff;
    position: absolute;
    left: -30px;
    bottom: -13px;
}

.recent-website {
    z-index: 0;
    margin: 3px;
    padding: 0;
    justify-content: center;
    height: 65px;
    width: 45px;
    overflow: hidden;
    cursor: url("images/Hand.cur"),pointer;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 200, 200, 0.3);
    box-shadow: rgba(66, 66, 66, 0.3) 1px 1px 1px 1px;
    transition: 0.2s;
}

.recent-website:hover {
    background-color: rgba(255, 200, 200, 0.3);
    box-shadow: rgba(66, 66, 66, 0.3) 1px 1px 2px 2px;
}

.recent-website:active {
    transform: scale(0.9);
}

@media screen and (min-width: 1550px) {
    .search-history-panel {
        font-size: 18px;
        width: 50%;
        margin-left: 7px;
        align-content: center;
        padding: 5px;
        min-height: 300px;
        max-height: 350px;
        background-color: rgba(110, 110, 110, 0.8);
        border-radius: 10px;
        box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 2px 2px;
        -webkit-transition-duration: 0.2s;
    }

    .website {
        color: inherit;
        margin: 0;
        padding: 2px;
        min-height: fit-content;
        max-height: 53px;
        overflow: hidden;
        display: inline-flex;
        width: fit-content;
        min-width: 80px;
        max-width: 85px;
        word-wrap: normal;
        word-break: break-all;
        border-radius: 3px;
        cursor: url("images/Hand.cur"),pointer;
    }

    .standard-website-panel {
        font-size: 21px;
        margin: 2.5px 5px;
        padding: 10px 3px;
        width: 37%;
        max-width: 290px;
        height: 235px;
        overflow-y: auto;
        background-color: rgba(170, 170, 170, 0.55);
        border-radius: 25px;
        box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 2px 2px;
        -webkit-transition-duration: 0.2s;
        border-radius: 10px;
        object-fit: contain;
        display: inline-block;
    }
}

@media screen and (max-width: 1549px) {
    .search-history-panel {
        font-size: 18px;
        align-content: center;
        width: 46%;
        margin-left: 7px;
        padding: 5px;
        min-height: 300px;
        max-height: 350px;
        background-color: rgba(110, 110, 110, 0.8);
        border-radius: 10px;
        box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 2px 2px;
        -webkit-transition-duration: 0.2s;
    }

    .website {
        color: inherit;
        margin: 3px;
        padding: 2px;
        min-height: fit-content;
        max-height: 60px;
        overflow: hidden;
        display: inline-flex;
        width: fit-content;
        min-width: 80px;
        border-radius: 3px;
        cursor: url("images/Hand.cur"),pointer;
    }

    .standard-website-panel {
        font-size: 21px;
        margin: 2.5px 5px;
        padding: 10px;
        width: 37%;
        height: 235px;
        overflow-y: auto;
        background-color: rgba(170, 170, 170, 0.55);
        border-radius: 25px;
        box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 2px 2px;
        -webkit-transition-duration: 0.2s;
        border-radius: 10px;
        object-fit: contain;
        display: inline-block;
    }
}

.standard-website-panel:hover {
    box-shadow: rgba(66, 66, 66, 0.6) 0px 0px 6px 6px;
}

.panel-title {
    font-size: 24px;
    color: inherit;
}

table {
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.deleteWebsites {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;

}

::-webkit-input-placeholder { /* WebKit browsers */
    color:white;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:white;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:white;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:white;
}

.test {
    color: rgb(51, 255, 0);
}

footer {
    text-align: center;
    font-size: 11px;
}

.s-sticker {
    z-index: 1999999;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important;
    transition: background-color 5000s ease-in-out 0s;
}