.edit-website-panel {
    display: none;
    position: absolute;
    font-size: 20px;
    max-width: 250px;
    margin:auto;
    left:0;
    right:0;
    top:30%;
    position: fixed;
    color: rgb(80, 80, 80);
    max-height: 250px;
    padding: 0 10px;
    background-color: rgba(110, 110, 110, 1);
    border-radius: 10px;
    box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 2px 2px;
    -webkit-transition-duration: 0.2s;
}

.edit-website-panel:hover {
    box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 4px 4px;
}

.close {
    margin: 0 5px;
    float: right;
}

.edit-square-button {
    padding:5px;
    font-size: 17px;
    min-width: 95px;
}

.edit-input {
    margin: 3px 0;
    text-align: center;
    color: white;
    outline: none;
    height: 25px;
    width: 90%;
    border-radius: 7px;
    border-width: 3px;
    border-style: solid;
    border-color: turquoise;
    background-color: rgba(66, 66, 66, 0.2);
    cursor: url("images/IBeam.cur"),text;
}

.edit-submit {
    text-align:center;
    vertical-align:middel;
    margin: 5px;
    color: white;
    background-color: turquoise;
    height: 25px;
    width: 75px;
    cursor: url("images/Hand.cur"),pointer;
    border-radius: 5px;
}

.edit-panel {
    display: none;
    position: absolute;
    font-size: 20px;
    width: 60%;
    max-width: 850px;
    max-height: 1000px;
    height: 85%;
    margin:auto;
    left:0;
    right:0;
    top:7%;
    position: fixed;
    color: rgb(80, 80, 80);
    padding: 10px;
    background-color: rgb(110, 110, 110);
    border-radius: 17px;
    box-shadow: rgba(66, 66, 66, 0.3) 2px 4px 8px 8px;
    -webkit-transition-duration: 0.2s;
}

.edit-content {
    display: flex;
    color: inherit;
    height: 90%;
}

.edit-button {
    margin: 15px;
    width: 64px;
    height: 64px;
    background: url("images/websites.png") no-repeat;
    border-style: none;
    border-radius: 50%;
    outline: none;
    cursor: url("images/Hand.cur"),pointer;
    box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 2px 2px inset;
    -webkit-transition-duration: 0.1s;
}

.edit-button:hover {
    box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 4px 4px;
}

.edit-button:active {
    box-shadow: rgba(66, 66, 66, 0.3) 0px 0px 4px 4px inset;
}

.edit-menu {
    display: inline-block;
    vertical-align: center;
    max-width: 93px;
    height: min-content;
    margin: auto  15px;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: 25px;
    box-shadow: rgba(66, 66, 66, 0.4) 4px 4px 4px 4px;
}

.edit-menu-content {
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgba(245, 245, 245, 0.4);
    border-radius: 7px;
    width: 100%;
    /* min-height: 80%; */
    /* min-height: 45vh; */
    overflow-y: auto;
    overflow-x: hidden;
    height: 93%;
    max-height: 1000px;
}

#title-area {
    width: 97%;
    max-width: 97%;
    min-width: 97%;
    min-height: 300px;
    height: 95%;
    resize: none;
    border-radius: 10px;
    white-space: pre-wrap;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border:  orange 5px solid;
    outline: none;
    cursor: url("images/IBeam.cur"),text;
    background-color: rgba(245, 245, 245, 0.4);
}

.website-piece {
    display: inline-flex;
    width: 100%;
    margin: 10px 2px;
    border-radius: 5px;
}

.website-piece:hover {
    box-shadow: rgba(114, 114, 114, 0.4) 2px 2px 4px 4px;
}

.edit-input-class {
    max-width: 160px;
    margin: 5px;
    height: 32px;
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: rgba(0, 153, 255, 0.6) solid;
    outline: none;
    border-radius: 10px 10px 0 0;
    cursor: url("images/IBeam.cur"),text;
    box-shadow: rgba(114, 114, 114, 0.4) 1px 1px 2px 2px;
    transition-duration: 0.2s;
}

.edit-b-c {
    margin: auto 5px;
}

.right {
    background: url("images/right.png") no-repeat;
}

.delete {
    background: url("images/delete.png") no-repeat;
}

.tip {
    font-size: 11px;
    margin: 2px;
    padding: 0;
}

.websites-group {
    max-width: 95%;
    min-width: 95%;
    margin-left: 1%;
    max-height: 150px;
    min-height: 70px;
    height: 85px;
    border-radius: 7px;
    white-space: pre-wrap;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border:  orange 5px solid;
    outline: none;
    background-color: rgba(245, 245, 245, 0.4);
}

.website-group-piece {
    display: inline-flex;
}

.websites-group-piece {
    width: 100%;
    margin: 3px;
    border-radius: 5px;
}

.websites-group-piece:hover {
    box-shadow: rgba(114, 114, 114, 0.4) 2px 2px 4px 4px;
}

.choose-search-engine {
    display: none;
    position: absolute;
    left:0; 
    right:0; 
    top:0;
    bottom:0;
    margin:auto;
    vertical-align: center;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    box-shadow: rgba(66, 66, 66, 0.4) 4px 4px 4px 4px;
}

/* 滚动槽 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

.use-bing-wallpaper {
    text-align: center;
    margin: auto 0;
    cursor: url("images/Hand.cur"),pointer;
}

.bing-wallpaper-checkbox {
    margin: 7px;
    display: block;
    width: 16px;
    height: 16px;
    cursor: url("images/Hand.cur"),pointer;
}

label {
    cursor: url("images/Hand.cur"),pointer;
}

.bing-wallpaper-checkbox:checked {
    display: block;
    content: "\2714";
    text-align: center;
    color: lightcoral;
    cursor: url("images/Hand.cur"),pointer;
}

#userLogin {
    display: inline-flexbox;
}
